<div class="container spacer" >
    <div class="panel panel-primary">
<div class="panel-heading">Listes des contacts</div>
<div class="panel-body">
<table class="table table-striped">
    <tr>
        <th>ID</th> <th>Nom</th><th>Prenom</th> <th>Date de naissance</th> <th>Tel</th>
    </tr>      
      <tr *ngFor='let c of pageContacts'>
          <td>{{c.id}}</td>
          <td>{{c.nom}}</td>
          <td>{{c.prenom}}</td>
          <td>{{c.dateNaissance}}</td>
          <td>{{c.tel}}</td>
    </tr>
</table>


</div>



    </div>
</div>